[lms]
user = apache
group = apache
listen = /run/php-fpm/lms.sock
listen.acl_users = apache,nginx
listen.allowed_clients = 127.0.0.1

pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35


php_admin_value[doc_root] = {{ apache_dir }}
php_admin_value[upload_tmp_dir] = {{ apache_dir }}/temp
php_admin_value[session.save_path] = {{ apache_dir }}/temp
php_admin_value[max_execution_time] =  600
php_admin_value[max_input_time] = 600
php_value[upload_max_filesize] = 2500M
php_value[post_max_size] = 2500M
php_value[session.gc_divisor] = 100
php_value[session.cookie_httponly] = on
php_value[session.cookie_secure] = on
php_admin_value[max_input_vars] = 10000
php_admin_value[error_reporting] = E_ALL & ~E_NOTICE & ~E_DEPRECATED & ~E_STRICT
php_admin_flag[log_errors] = on
php_admin_value[error_log] =  {{ apache_dir }}/admin/php8_error.log

; Set the following data paths to directories owned by the FPM process user.
;
; Do not change the ownership of existing system directories, if the process
; user does not have write permission, create dedicated directories for this
; purpose.
;
; See warning about choosing the location of these directories on your system
; at http://php.net/session.save-path
php_value[session.save_handler] = files
php_value[session.save_path]    = /var/lib/php/session
php_value[soap.wsdl_cache_dir]  = /var/lib/php/wsdlcache
;php_value[opcache.file_cache]  = /var/lib/php/opcache