#
# Template Domain
#
#Listen 127.0.0.1:80

<VirtualHost *:80>
DocumentRoot {{ ilias_dir }}
ServerName {{ domain }}
HostNameLookups Off
ErrorLog {{ log_dir }}/apache/error.log
CustomLog {{ log_dir }}/apache/access_combined.log combined

# Redirect permanent / https://{{ domain }}/

<Directory {{ ilias_dir }}>
    AllowOverride All
    Options -FollowSymLinks +SymLinksIfOwnerMatch
    Require all granted
</Directory>

# Modules activés
Header set X-UA-Compatible "IE=edge"
CheckSpelling On

XSendFilePath {{ iliasout_dir }}/
XSendFilePath {{ ilias_dir }}/data

# La pool fpm d'activée:
<FilesMatch \.php$>
    SetHandler "proxy:unix:/run/php-fpm/lms.sock|fcgi://localhost/"
</FilesMatch>

</VirtualHost>