[Server]
IpAddress = 127.0.0.1
Port = 11111
IndexPath = {{ lucene_dir }}
LogFile = {{ log_dir }}/lucene
LogLevel = WARN
NumThreads = 4
RamBufferSize = 256
IndexMaxFileSizeMB = 500
maxClauseCount = 10000
 
[Client1]
ClientId = {{ ilias_instance_name }}
NicId =
IliasIniPath = {{ ilias_dir }}/ilias.ini.php