[Unit]
Description=ILIAS Lucene Search Server
After=network.target

[Service]
Type=forking
User=apache
Group=apache
ExecStart=/bin/bash -c "/usr/bin/java -Dfile.encoding=UTF-8 -cp \"{{ ilias_dir }}/Services/WebServices/RPC/lib/ilServer.jar\" de.ilias.ilServer {{ lucene_dir }}/ilServer.properties start &"
ExecStop=/bin/bash -c "/usr/bin/pkill -f 'de.ilias.ilServer'"
Restart=always
RestartSec=10
WorkingDirectory={{ lucene_dir }}
StandardOutput=journal
StandardError=journal
# Sécurité renforcée
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
